[package]
name = "pyo3-example"
version = "0.1.0"
edition = "2021"

[dependencies]
thiserror = "1.0"
pyo3 = { version = "0.22.0", features = ["experimental-inspect"] }
clap = { version = "4.5.15", features = ["derive", "color"] }
rustyline = { version = "14.0.0", features = ["custom-bindings", "derive"]}
# reedline = { version = "0.33.0", features = []}